services:
  auth:
    container_name: arthsaathi-auth
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
    command: npm run dev
    ports:
      - 5000:5000
    networks:
      - expense-net
    environment:
      APP_PORT: 5000
      MYSQL_DATABASE: authdb
      MYSQL_USER: authuser
      MYSQL_PASSWORD: authpass
      MYSQL_HOSTNAME: auth-db
      MYSQL_PORT: 3306
      JWT_SECRET: this_is_a_long_jwt_secret
    develop:
      watch:
        - action: sync+restart
          path: ./apps/auth
          target: /app/apps/auth

        - action: sync+restart
          path: ./packages/helpers
          target: /app/packages/helpers

        - action: sync+restart
          path: ./packages/models
          target: /app/packages/models

        - action: rebuild
          path: ./apps/auth/package.json

        - action: rebuild
          path: ./packages/helpers/package.json

        - action: rebuild
          path: ./packages/models/package.json
    depends_on:
      auth-db:
        condition: service_healthy
        restart: true

  money-handler:
    container_name: arthsaathi-money-handler
    build:
      context: .
      dockerfile: ./apps/money-handler/Dockerfile
    command: npm run dev
    ports:
      - 5001:5001
    networks:
      - expense-net
    environment:
      APP_PORT: 5001
      MYSQL_DATABASE: moneydb
      MYSQL_USER: moneyuser
      MYSQL_PASSWORD: moneypass
      MYSQL_HOSTNAME: money-db
      MYSQL_PORT: 3306
      JWT_SECRET: this_is_a_long_jwt_secret
    develop:
      watch:
        - action: sync+restart
          path: ./apps/money-handler
          target: /app/apps/money-handler

        - action: sync+restart
          path: ./packages/helpers
          target: /app/packages/helpers

        - action: sync+restart
          path: ./packages/models
          target: /app/packages/models

        - action: rebuild
          path: ./apps/money-handler/package.json

        - action: rebuild
          path: ./packages/helpers/package.json

        - action: rebuild
          path: ./packages/models/package.json
    depends_on:
      money-db:
        condition: service_healthy
        restart: true

  auth-db:
    image: mysql:8.0
    container_name: auth-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: authdb
      MYSQL_USER: authuser
      MYSQL_PASSWORD: authpass
    ports:
      - "3307:3306" # external port to avoid clash with other MySQLs
    volumes:
      - auth-db-data:/var/lib/mysql
    networks:
      - expense-net
    healthcheck:
      test: mysqladmin ping -h localhost -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      timeout: 10s
      retries: 5

  # =====================
  # Money database
  # =====================
  money-db:
    image: mysql:8.0
    container_name: money-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: moneydb
      MYSQL_USER: moneyuser
      MYSQL_PASSWORD: moneypass
    ports:
      - "3308:3306" # external port to avoid clash with other MySQLs
    volumes:
      - money-db-data:/var/lib/mysql
    networks:
      - expense-net
    healthcheck:
      test: mysqladmin ping -h localhost -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      timeout: 10s
      retries: 10

volumes:
  auth-db-data:
  money-db-data:

networks:
  expense-net:
    driver: bridge
