name: lint-pr

run-name: Validate PR / Lint checks

on:
  pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - run: npm ci --frozen-lockfile
      - run: npm i -g turbo@2.5.8
      - run: turbo run lint