name: test-pr

run-name: Validate PR / Tests

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
      - run: npm ci --frozen-lockfile
      - run: npm i -g turbo@2.5.8
      - run: turbo run test
      # Applying the following patch to node_modules due to this: https://github.com/expo/expo/issues/40184
      - run: sed -i 's/^/\/\/ /' node_modules/expo-router/build/testing-library/expect.js
